.container{
    position: relative;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapCon{
    width: 1100px;
    height: 582px;
    position: relative;
}
@media (max-width: 480px) {
    .mapCon{
        margin-top: -160px;
        width: 90vw;
        height: 43vw;
    }
}