.container, .mobContainer{
    position: relative;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobContainer{
    display: none;
}

.mapCon{
    width: 1100px;
    height: 582px;
    position: relative;
}


.marker{
    animation-name: marker;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes marker {
    0% {transform: translate(0, 0);}
    50% {transform: translate(0, -10px);}
    100% {transform: translate(0, 0);}
}

@media (max-width: 480px) {
    .container{
        display: none;
    }

    .mobContainer{
        display: block;
    }
    .mapCon{
        margin-top: -160px;
        width: 100vw;
        height: 47.77777777777778vw;
    }
}