.container{
    margin-top: 57px;
    /* background-color: #051c2c; */
}

.innerContainer{
    /* background: linear-gradient(109.46deg, rgba(201, 201, 201, 0.2) 1.57%, rgba(196, 196, 196, 0.025) 100%); */
    /* opacity: 0.5; */
    /* backdrop-filter: blur(30px); */

    /* Note: backdrop-filter has minimal browser support */
    /* border-radius: 27px;
    padding: 10px 35px;
    width: 810px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 36px;
    font-style: italic;

    /* or 180% */
    text-align: center;

    /* Primary/White */
    color: #393E45;
    /* opacity: 1 !important; */
}

.line{
    margin: auto;
    margin-top: 36px;
    padding-bottom: 52px;
    position: relative;
    width: fit-content;
}

.buildingCon{
    width:84vw;
    height:33.6vw;
    position: relative;
    margin: auto;
}

.text{
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 29px;

    /* or 161% */

    color: #393E45;
}

@media (max-width: 480px) {

    .buildingCon{
        width: 130vw;
        height: 52vw;
        margin-left: -80px;
        border-radius: 0;
    }

    .innerContainer{
        width: fit-content;
    }

    .line{
        display: none;
    }
}