.container{
    padding: 80px 0 84px;
    position: relative;
}

.rightTitle{

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 2.875rem;
    line-height: 56px;

    /* or 122% */

    /* Primary/White */
    color: #FFFFFF;
    margin-bottom: 30px;


}

.rightText{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 28px;

    /* or 156% */

    /* Primary/White */
    color: #FFFFFF;
}

.subHeading{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 29px;

    margin-left: 15px;

    /* identical to box height, or 121% */

    /* Primary/White */
    color: #FFFFFF;

    margin-top: 65.5px;
    margin-bottom: 10px;
}

.yellowBorder{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 8px;
    background: linear-gradient(180deg, #D1AB49 0%, #D19C15 100%);
    border-radius: 10px;
}

.titleImage{
    width: 380px;
    height: 100px;
    position: relative;
}

.title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 2.875rem;
    line-height: 54px;


}

.stick{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


.sswiper{
    height: 660px;
}


@media (max-width: 480px) {
    .sswiper{
        margin-top: 20px;
        height: 250px;
    }
    .titleImage{
        width: 253.33333333333334px;
        height: 66.66666666666667px;
    }
    .rightTitle{
        font-size: 2.5rem;
        line-height: 42px;
        margin-top: 20px;
    }
}