.container{
    padding: 86px 0;
}

.yellowBox{
    background: linear-gradient(180deg, rgba(209, 171, 73, 0.1) 0%, rgba(209, 156, 21, 0.1) 100%);
    border-radius: 4px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 24px;
    color: #d1a22a;
    padding: 10px;
    margin-bottom: 30px;
    width: fit-content;
}

.title{
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 2.875rem;
    line-height: 55px;
    
    /* Primary/Blue */
    color: #03254C;
    
    
}

.text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 32px;

    /* or 160% */

    /* Secondory/Gray */
    color: #393E45;


}

.points{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 30px;

    /* or 167% */

    /* Secondory/Gray */
    color: #393E45;
    margin: 0;
    padding: 0;
}

.title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 2.875rem;
    line-height: 54px;
}

.imgCont{
    width: 400px; 
    height: 570px;
    position: relative;
}

@media (max-width: 480px) {
    .points{
        line-height: 24px;
        padding: 0 10px;
        margin-top: -20px;
        margin-bottom: 10px;
    }
}