.container{
    margin-top: 80px;
}


.title{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 60px;

    /* identical to box height, or 107% */

    /* Primary/Blue */
    color: #03254C;
    margin-bottom: 12.5px;
    margin-top: 0;
}

.live{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 38px;

    /* identical to box height, or 158% */

    /* Primary/Blue */
    color: #03254C;
    margin-bottom: 28px;

}

.text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 29px;

    /* or 161% */

    color: #393E45;
}

.rightText{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 28px;

    /* or 140% */

    /* Secondory/Gray */
    color: #393E45;
}

.pre1{
    width: 464px;
}

.pre2{
    width: 556px;
}

.areyou{
    width: 395px;
    height: 35px;
    position: relative;
}



@media (max-width: 480px) {
    .pre1{
        width: 100%;
        margin-bottom: 20px;
    }
    .pre2{
        width: 100%;
    }

    .container{
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .areyou{
        width: 300px;
        height: 28px;
    }
}